h3 Register new user
form(name='form', ng-submit='register()', novalidate='')
  .row
    .username-field(ng-class='{error: form.username.$dirty && !form.username.$valid}')
      label User name
        input(type='text', ng-model='user.username', id='username', name='username', placeholder='User name', required='', ng-minlength='6' ng-trim='true', val-remote='', val-remote-url='/auth/username-available/')
      validation-message(val-message-for='username',
                         required='User name is required',
                         minlength='User name is too short, it must have at least 6 characters'
                         remote='This user name is already used by somebody else, choose something else')
  .row
    .email-field(ng-class='{error: form.email.$dirty && !form.email.$valid}')
      label Email
        input(type='email', ng-model='user.email' id='email', name='email', placeholder='Email' required='')
      validation-message(val-message-for='email',
                         required='Email address is required',
                         email='Incorrect email address')
  .row
    .password-field(ng-class='{error: form.password.$dirty && !form.password.$valid}')
      label Password
        input(type='password', ng-model='user.password' id='password', name='password', placeholder='Password', ng-minlength='6' required='')
      validation-message(val-message-for='password',
                         required='Password is required'
                         minlength='Password is too short, it must have at least 6 characters')
  .row
    .password-confirm-field(ng-class='{error: form[\'confirm-password\'].$dirty && !form[\'confirm-password\'].$valid}')
      label Confirm password
        input(type='password', ng-model='user.confirmPassword' id='confirm-password', name='confirm-password' placeholder='Confirm password', required='' ng-match='user.password')
      validation-message(val-message-for='confirm-password',
                         required='Confirm your password',
                         match='Password doesn\'t match')
  .row
    input(type='submit', value='Register').button.small.radius
